.itembox{
	border: 1px solid #fff;
    border-color: white;
    background-color: white;
    font-size: 8px;
	padding:2px;
	max-width:400px;
	height: 5px;
	color:white;
}

.box{
	
	 border: 2px solid #ccc;
	 border-radius: 4px;
}
input { 
    text-align: center; 
}

table {
	border-collapse: collapse;
	width: 75%;
}

th, td {
	margin: 10px;
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;

}
